@import url("https://unpkg.com/@shgysk8zer0/core-css@2.4.3/theme/default/index.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.4.3/element.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.4.3/class-rules.css");
@import url("https://unpkg.com/@shgysk8zer0/core-css@2.4.3/scrollbar.css");
@import url("./vars.css");

body {
	display: grid;
	margin: 0;
	grid-template-areas: "header header header" "nav nav nav" "main . sidebar" "footer footer footer";
	grid-template-rows: calc(100dvh - var(--nav-height)) var(--nav-height) auto 60vh;
	grid-template-columns: 1fr 1.2em 400px;
}

#header {
	grid-area: header;
}

#nav {
	grid-area: nav;
	position: sticky;
	padding: 4px;
	top: 0;
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	gap: 0.8em;
	background-image: linear-gradient(var(--accent-color), #1515ce);
	z-index: 10;
}

#main {
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
}

#footer {
	grid-area: footer;
	background-color: #242424;
	color: #fafafa;
}

:popover-open::backdrop {
	background-color: transparent;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(3px);
}

scroll-snap {
	width: 100%;
	aspect-ratio: 16/9;
}
